.contact__input {
    @apply w-full  dark:focus:ring-slate-600 rounded focus:ring-0 border border-transparent focus:bg-slate-50 bg-slate-100 p-2 rounded-xl;
    @apply dark:bg-neutral-800 dark:shadow-black/50 ;
    @apply outline-none focus:border-slate-400 dark:focus:border-slate-900 dark:focus:bg-slate-700;
  }
  
  .contact__input--textarea {
    @apply h-[50vh];
  }
  