#profile {
    @apply dark:bg-neutral-950;
  }
  
  .profile__introduce {
    @apply text-3xl font-bold drop-shadow-lg leading-relaxed h-full relative z-10 flex flex-col;
    @apply md:text-5xl md:mb-10;
    @apply dark:text-white;
  }
  .name {
    @apply drop-shadow-lg relative text-white text-4xl md:text-5xl;
    @apply dark:text-neutral-900;
  }
  
  .profile__image__cadre {
    @apply  shadow w-52 rounded-full overflow-hidden  relative;
    @apply md:w-72;
    @apply transition-all duration-100 dark:bg-slate-700  dark:border-slate-700;
  }
  
  .profile__image__bubble {
    @apply absolute z-10;
  }
  
  .profile__image__bubble--top-left {
    @apply top-0 left-0 -translate-x-2.5 -translate-y-[120%];
    @apply md:-translate-x-3/4 md:translate-y-2;
  }
  
  .profile__image__bubble--top-left .profile__bubble__text {
    @apply bg-gray-900 text-white font-bold shadow p-2 rounded-xl;
    @apply dark:bg-white dark:text-gray-900;
  }
  
  .profile__image__bubble--bottom {
    @apply right-0 bottom-0 translate-x-[-150px] -translate-y-[170px];
    @apply md:translate-x-2/4 md:-translate-y-[250px];
  }
  
  .profile__image__bubble--bottom .profile__bubble__text {
    @apply bg-white shadow p-2 rounded-xl border font-bold;
    @apply dark:text-white dark:bg-slate-600 dark:border-slate-800;
  }
  
  .profile__image__bubble--top-right {
    @apply right-0 bottom-0 -translate-x-1/4 translate-y-1/2;
    @apply md:-translate-x-3/4 md:-translate-y-1/2;
  }
  
  .profile__image__bubble--top-right .profile__bubble__text {
    @apply bg-slate-50 shadow p-2 rounded-xl border font-bold;
    @apply dark:text-slate-50 dark:bg-slate-600 dark:border-slate-800;
  }
  