
.service__domain__item {
    @apply bg-slate-100 border shadow hover:border-slate-600 hover:bg-slate-600 hover:text-white py-2 px-8 rounded-xl;
    @apply dark:text-slate-50 dark:bg-slate-600 dark:border-slate-800 dark:hover:text-slate-800 dark:hover:bg-slate-50 dark:hover:border-slate-100 ;
}

.service__item {
    @apply flex gap-8 my-6 items-center text-gray-500 hover:text-inherit ;
    @apply md:leading-loose md:my-8;
    @apply dark:text-white/50 dark:hover:text-white;
    @apply last-of-type:mb-0;
}
.service__item .service__item__text {
    @apply text-sm md:text-base;
}