@import "tailwindcss";

@import "./features/parcours/style/parcours.css";
@import "./features/profile/style/profile.css";
@import "./features/skills/style/skill.css";
@import "./features/project/style/project.css";
@import "./pages/LandingPage/layout/footer/style/footer.css";
@import "./features/services/style/service.css";
@import "./features/contact/style/contact.css";

@custom-variant dark (&:where(.dark, .dark *));


@theme {
  --font-text:  "Zalando Sans Expanded", "sans-serif";
  --font-title: "Source Code Pro", "Zalando Sans Expanded", "serif";
  --color-rc-gradient: rgba(255, 255, 255, 0.8);
  --color-rc-gradient-dark: rgba(0, 0, 0, 0.8);
}

.text-title {
  @apply font-title;
}

@layer base {
    html {
        @apply scroll-smooth;
    }

  body {
    @apply font-text select-none text-sm bg-slate-100;
    @apply md:text-base;
    @apply dark:text-white;
  }
  a {
    @apply text-current no-underline;
  }

  
}



@utility bg-dotted {
  @apply transition-all;
  background-color: #fff;
  background-image: radial-gradient(
    #e8e1e1 1.9500000000000002px,
    #fff 1.9500000000000002px
  );
  background-size: 39px 39px;
}

  

  .title {
    @apply text-3xl my-4 font-bold mb-2;
    @apply md:text-5xl md:my-8;
  }

  .title--center {
    @apply text-center;
  }

  .bg--gray {
    background-color: #f3f4f5;
  }

  

  .carousel.carousel--container {
    @apply relative w-full h-full md:flex hidden justify-center align-middle;
  }

  .carousel.carousel--card {
    @apply border p-4 rounded-md bg-white;
  }

  /* écran avec code */
  .frame {
    @apply bg-black h-[75vh] border-black border-4 rounded-xl shadow-2xl;
  }

  .screen {
    @apply border w-full h-full rounded-lg border-black overflow-hidden bg-gray-900;
  }

  .screen.overflow-x {
    @apply overflow-x-scroll;
  }

  .menu-bar {
    @apply bg-slate-950 text-white flex justify-between p-1;
  }

  .title-bar {
    @apply bg-slate-950 text-white p-2 grid grid-cols-3;
  }

  .editor__zone {
    @apply overflow-auto py-2;
  }
  .editor__zone p {
    @apply my-4 overflow-auto;
  }

  /* react carousel library override */
  .carousel__item {
    @apply flex flex-col justify-center items-center text-center h-[50vh] bg-dotted mb-8 transition ease-in-out;
  }

  .slick-dots li.slick-active button::before {
    @apply bg-slate-400 text-slate-400;
  }

  .slick-dots li button::before {
    @apply shadow-lg shadow-black rounded bg-white text-white;
  }

  /* video player library override */
  .react-player {
    @apply w-full rounded-xl;
  }

  .overlay-bg {
    background-color: rgba(255, 255, 255, 0.6);
    @apply absolute top-0 left-0 w-full h-96;
  }

  /* timeline custom style */
  .timeline__date {
    @apply text-base;
  }

  .timeline__work--desc {
    @apply text-sm my-4 list-disc list-inside;
  }

/*   .laptop__table {
    background-image: url("../../assets/bois.png");
  } */


  
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
